@inject IStringLocalizer<SharedResource> L
@using TalabeyahTaskWeb.Client.Infrastructure.ApiClient

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Checklist" Class="mr-3 mb-n1" />
            @L["Handle Ticket"]
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudContainer>

            <div class="d-flex">

                <MudItem xs="12" md="12">
                    <MudCheckBox T="bool" For="@(() => IsHandled)" @bind-Checked="IsHandled" Label="@L["Is Handled"]" />
                </MudItem>
            </div>

            <MudDivider Style="margin:10px;" />
        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="Submit">@L["Ok"]</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = default!;

    [Parameter]
    public bool IsHandled { get; set; }

    [Parameter]
    public Guid TicketId { get; set; }

    [Parameter]
    public EntityTable<TicketDto, Guid, UpdateTicketRequest> Table { get; set; }

    [Inject]
    private ITicketClient TicketClient { get; set; } = default!;

    async void Submit()
    {
        if (IsHandled)
        {
            await TicketClient.HandleTicketAsync(TicketId);
        }
        else
        {
            await TicketClient.UnHandleTicketAsync(TicketId);
        }

        await Table.ReloadDataAsync();

        MudDialog.Close(DialogResult.Ok(true));
    }
    void Cancel() => MudDialog.Cancel();
}